@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,900,100,300);


body{
	background:#f4f5f7;
	padding-top:80px;
	font-family: "Roboto", sans-serif;
}

.navbar{
	background:#3b5063;
}

.navbar-default .navbar-brand{
	color:#EFEFEF;
}

.navbar-brand{
	background:url(../img/logos.png) no-repeat 10px 5px;
	background-color: #060a0d;
	text-indent: -99999px;
	width:50px;
	border-right: 1px solid #2f4254;
	transition: all 0.7s ease 0s;  
}

.navbar-brand:hover{
	background:url(../img/logos.png) no-repeat -100px 5px;
	width:150px;
	transition: all 0.7s ease 0s;
}

.navbar-brand, .navbar-nav > li > a{
	text-shadow:none;
}


.logout{
	color:#6a737a;
	border-left:1px solid #2f4254;
	padding:15px 30px;
	transition: all 0.4s ease 0s;
}

.logout:hover{
	background:#060a0d;
	color:#dfac16;
	text-decoration: none;
	transition: all 0.4s ease 0s;
}

.dp{
	width:230px !important;
	text-align: left !important;
}


.table{
	background: #FFF;
	border-radius: 5px;
	box-shadow: 0 0 2px 0px #ececec;
}

.table-responsive{
	margin:10px 20px;
}

/*REGISTRO*/

.container-fluid{
	--margin:0 20px;
}

.tit-section{
	padding:14px 10px 10px 15px;
	display: block;
	margin-bottom:0;
	height:;
	width:200px;
	color:#FFF;
	font-size: 18px;
	font-weight: 500;
	float: left;
}

label{
	color:#999;
}

.switch-button-label.on {
    color: #26a65b;
}

.register-container{
	background:#FFF;
	padding:10px;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 #efefef;
}

.lbl-services{
	width:150px;
}

.register label{
	width: 200px;
}

form h3{
	margin-bottom: 30px;
}

input[type="text"]{
	padding:3px;
	width:60%;
}

.btn-register{
	margin-top: 20px;
	margin-bottom: 20px;
	background:#3cb878;
	color:#FFF;
	transition: all 0.4s ease 0s;
}

.btn-register:hover{
	background:#25a65b;
	color:#FFF;
	transition: all 0.4s ease 0s;
}



/*ECUPON*/
.box-ecupon{
	height:150px;
	background:#FFF;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 #EDEDED;
	margin-left: 20px;
	margin-bottom:20px;
	display: none;
}

.btn-add{
	height:150px;
	border:1px dotted #ccc;
	box-shadow: none;
	padding-top:60px;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 #EDEDED;
	transition: all 0.4s ease 0s;
	margin-left:20px;
	margin-bottom: 20px;
}

.btn-add:hover{
	background:#efefef;
	border:1px dotted #CCC;
	padding-top:60px;
	box-shadow: 0 0 5px 0 #eaeaea;
	text-decoration: none;
	transition: all 0.4s ease 0s;
	border-radius: 0;
}

.box-ecupon .thumbnail{
	border:1px solid #EFEFEF;
	margin-top: 15px;
	height:100px;
	overflow:hidden;
	margin-bottom: 5px;
}

.box-ecupon .thumbnail img{
	margin-top:-15%;
}

.input-date{
	width:100px!important;
}

input[type="file"]{
	display:inline;
}


form#create-cupon .lbl-create{
	width: 170px;
}

form#create-cupon .lbl-sex{
	padding-right: 20px;
}

form#create-cupon input[type=radio]{
	vertical-align: text-top;
}




/*wizard*/

#rootwizard ul{
	margin-bottom: 20px;
}

.bwizard-steps {
	display: inline-block;
	margin: 0; padding: 0;
	background: #fff }
	.bwizard-steps .active {
		color: #fff;
		background: #007ACC }
	.bwizard-steps .active:after {
		border-left-color: #007ACC }
	.bwizard-steps .active a {
		color: #fff;
		cursor: default }
	.bwizard-steps .label {
		position: relative;
		top: -1px;
		margin: 0 5px 0 0; padding: 1px 5px 2px }
	.bwizard-steps .active .label {
		background-color: #333;}
	.bwizard-steps li {
		display: inline-block; position: relative;
		margin-right: 5px;
		padding: 12px 17px 10px 30px;
		*display: inline;
		*padding-left: 17px;
		background: #efefef;
		line-height: 18px;
		list-style: none;
		zoom: 1; }
	.bwizard-steps li:first-child {
		padding-left: 12px;
		-moz-border-radius: 4px 0 0 4px;
		-webkit-border-radius: 4px 0 0 4px;
		border-radius: 4px 0 0 4px; }
	.bwizard-steps li:first-child:before {
		border: none }
	.bwizard-steps li:last-child {
		margin-right: 0;
		-moz-border-radius: 0 4px 4px 0;
		-webkit-border-radius: 0 4px 4px 0;
		border-radius: 0 4px 4px 0; }
	.bwizard-steps li:last-child:after {
		border: none }
	.bwizard-steps li:before {
		position: absolute;
		left: 0; top: 0;
		height: 0; width: 0;
		border-bottom: 20px inset transparent;
		border-left: 20px solid #fff;
		border-top: 20px inset transparent;
		content: "" }
	.bwizard-steps li:after {
		position: absolute;
		right: -20px; top: 0;
		height: 0; width: 0;
		border-bottom: 20px inset transparent;
		border-left: 20px solid #efefef;
		border-top: 20px inset transparent;
		content: "";
		z-index: 2; }
	.bwizard-steps a {
		color: #333 }
	.bwizard-steps a:hover {
		text-decoration: none }
	.bwizard-steps.clickable li:not(.active) {
		cursor: pointer }
	.bwizard-steps.clickable li:hover:not(.active) {
		background: #ccc }
	.bwizard-steps.clickable li:hover:not(.active):after {
		border-left-color: #ccc }
	.bwizard-steps.clickable li:hover:not(.active) a {
		color: #08c }
	@media (max-width: 480px) {
		/* badges only on small screens */
		.bwizard-steps li:after,
		.bwizard-steps li:before {
			border: none }
		.bwizard-steps li,
		.bwizard-steps li.active,
		.bwizard-steps li:first-child,
		.bwizard-steps li:last-child {
			margin-right: 0;
			padding: 0;
			background-color: transparent }
	}
	
	.btn-add-min{
		margin-bottom: 10px;
	}

	.mb{
		margin-bottom:30px;
	}

	.pager .next>a, .pager .previous>a{
		float:none;
		margin:10px;
		border-radius: 5px;
		border-color:#999;
	}

	.subscat{
		margin-top: 5px;
		margin-bottom: 5px;
		width:250px!important;
	}
	
	.soft-caja{
		margin-left: 15px;
		width:300px;
	}

	