@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,900,100,300);


body{
	background:#f4f5f7;
	padding-top:80px;
	font-family: "Roboto", sans-serif;
}

.navbar{
	background:#3b5063;
}

.navbar-default .navbar-brand{
	color:#EFEFEF;
}

.navbar-brand{
	background:url(../img/logos.png) no-repeat 10px 5px;
	background-color: #060a0d;
	text-indent: -99999px;
	width:50px;
	border-right: 1px solid #2f4254;
	transition: all 0.7s ease 0s;  
}

.navbar-brand:hover{
	background:url(../img/logos.png) no-repeat -100px 5px;
	width:150px;
	transition: all 0.7s ease 0s;
}

.navbar-brand, .navbar-nav > li > a{
	text-shadow:none;
}


.logout{
	color:#6a737a;
	border-left:1px solid #2f4254;
	padding:15px 30px;
	transition: all 0.4s ease 0s;
}

.logout:hover{
	background:#060a0d;
	color:#dfac16;
	text-decoration: none;
	transition: all 0.4s ease 0s;
}

.dp{
	width:230px !important;
	text-align: left !important;
}


.table{
	background: #FFF;
	border-radius: 5px;
	box-shadow: 0 0 2px 0px #ececec;
}

.table-responsive{
	margin:10px 20px;
}

/*REGISTRO*/

.container-fluid{
	--margin:0 20px;
}

.tit-section{
	padding:14px 10px 10px 15px;
	display: block;
	margin-bottom:0;
	height:;
	width:200px;
	color:#FFF;
	font-size: 18px;
	font-weight: 500;
	float: left;
}

label{
	color:#999;
}

.switch-button-label.on {
    color: #26a65b;
}

.register-container{
	background:#FFF;
	padding:10px;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 #efefef;
}

.lbl-services{
	width:80px;
}

.register label{
	width: 150px;
}

form h3{
	margin-bottom: 30px;
}

input[type="text"]{
	padding:3px;
	width:60%;
}

.btn-register{
	margin-top: 20px;
	margin-bottom: 20px;
	background:#3cb878;
	color:#FFF;
	transition: all 0.4s ease 0s;
}

.btn-register:hover{
	background:#25a65b;
	color:#FFF;
	transition: all 0.4s ease 0s;
}

.register{
	border-right:1px solid #EFEFEF;
}


/*ECUPON*/
.box-ecupon{
	height:150px;
	background:#FFF;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 #EDEDED;
	margin-left: 20px;
	margin-bottom:20px;
	display: none;
}

.btn-add{
	height:150px;
	border:1px dotted #ccc;
	box-shadow: none;
	padding-top:60px;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 #EDEDED;
	transition: all 0.4s ease 0s;
	margin-left:20px;
	margin-bottom: 20px;
}

.btn-add:hover{
	background:#efefef;
	border:1px dotted #CCC;
	padding-top:60px;
	box-shadow: 0 0 5px 0 #eaeaea;
	text-decoration: none;
	transition: all 0.4s ease 0s;
	border-radius: 0;
}

.box-ecupon .thumbnail{
	border:1px solid #EFEFEF;
	margin-top: 15px;
	height:100px;
	overflow:hidden;
	margin-bottom: 5px;
}

.box-ecupon .thumbnail img{
	margin-top:-15%;
}

.input-date{
	width:100px!important;
}

input[type="file"]{
	display:inline;
}


form#create-cupon .lbl-create{
	width: 170px;
}

form#create-cupon .lbl-sex{
	padding-right: 20px;
}

form#create-cupon input[type=radio]{
	vertical-align: text-top;
}
