@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700';
@import 'https://fonts.googleapis.com/css?family=Oswald:300,400';
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto Condensed', Arial !important;
  font-size: 16px;
  color: #34495e !important;
  background: #ecf0f1;
}
.nav-cotizador {
  display: flex;
  align-items: center;
  background: rgba(255,255,255,0.5);
  width: 100%;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 7px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.nav-cotizador a.logo-cotizador {
  background: url("../cotizador/img/logo-wibi--negativo_2.svg") no-repeat center center;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  display: block;
  cursor: pointer;
  text-indent: -99999px;
  float: left;
}
.nav-cotizador span {
  float: left;
  margin-left: 5px;
  padding-top: 5px;
  font-weight: 300;
}
.main-container {
  padding: 0 !important;
  margin: 0;
  height: 100vh;
  position: relative;
}
.main-container .logo-home {
  position: absolute;
  z-index: 9;
  background: url("") no-repeat center center;
  content: url("../cotizador/img/logo-wibi--negativo.svg");
  width: 200px;
  height: 200px;
  display: block;
  top: 100px;
  left: 100px;
  display: block;
  transition: all ease-in-out 0.2s;
}
.main-container .logo-home:hover {
  transform: rotateY(170deg);
  opacity: 0.5;
}
.main-container .slide_1 {
  background-color: #22c8ff;
  background: url("../cotizador/img/slide_1_1.png") no-repeat bottom center;
  background-size: cover;
}
.main-container .slide_2 {
  background-color: #00bfff;
  background: url("../cotizador/img/slide_2.png") no-repeat bottom center;
  background-size: cover;
  opacity: 0.8;
}
.main-container .carousel-indicators {
  bottom: 0;
}
.main-container .carousel-control.right,
.main-container .carousel-control.left {
  background-image: none;
  width: 10% !important;
}
.main-container .carousel {
  height: 100vh;
}
.main-container .carousel .item {
  height: 100vh;
}
.main-container .carousel .carousel-caption {
  margin-bottom: 20px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  text-align: left;
  padding-top: 10px;
  left: 10%;
  bottom: 60px;
  width: 40%;
}
.main-container .carousel .carousel-caption h2 {
  animation-delay: 0.5s;
}
.main-container .carousel .carousel-caption h3 {
  animation-delay: 0.9s;
  font-weight: 200;
  font-size: 20px;
}
.main-container .carousel .carousel-caption a.more {
  background: #3891ea !important;
  margin-top: 1em;
  animation-delay: 1.5s;
  text-shadow: none;
  opacity: 1;
}
.main-container .carousel .carousel-caption a:hover {
  border-color: none !important;
}
/*COTIZADOR*/
.box {
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.box h2 {
  color: #34495e;
}
.box h2 small {
  display: block;
  text-transform: none;
}
.box h4 {
  color: #34495e;
}
.box label {
  width: 100%;
  display: block;
  font-weight: 500;
  color: #34495e;
  margin-top: 40px;
}
.box .btn-container {
  width: 100%;
}
.box .btn-container .btn {
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
}
.box .titulo {
  text-align: center;
}
.box .titulo h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 24px !important;
}
.box .item {
  padding: 20px 0;
  border-radius: 3px;
  width: 100%;
  display: block;
  height: auto;
  text-align: center;
  color: #34495e;
  border: 1px solid #fff;
  line-height: 100%;
}
.box .item.active {
  box-shadow: 0 0 5px #999;
  position: relative;
  background: rgba(52,73,94,0.1);
  border: 1px solid #efefef;
}
.box .item.active:after {
  content: '\f120';
  font-family: 'ionicons';
  color: #e74c3c;
  font-size: 24px;
  display: block;
  line-height: 170%;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -5px;
  right: 15px;
}
.box .item i {
  background: url("../cotizador/img/icono-demo.svg") no-repeat center top;
  width: 80px;
  height: 80px;
  display: block;
  margin: auto;
}
.box#marcas .item {
  background: #fff;
}
.box .otra-marca {
  text-align: center;
}
.box .dropdown-toggle {
  font-size: 18px !important;
  width: 100%;
}
.box .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100% !important;
}
.box strong {
  margin-bottom: 10px;
  margin-top: 20px;
  display: block;
}
.box .error {
  color: #f00;
  text-align: left;
}
.box#modelo strong {
  margin-top: 50px;
}
.box#valor .titulo:first-child {
  margin-bottom: 20px;
}
.box#usos .uso__personal .item i {
  background: url("../cotizador/img/ico-personal.svg") no-repeat center top;
  width: 150px;
  height: 80px;
  display: block;
  margin: auto;
}
.box#usos .uso__negocio .item i {
  background: url("../cotizador/img/ico-negocio.svg") no-repeat center top;
  width: 150px;
  height: 80px;
  display: block;
  margin: auto;
}
.box#usos .uso__taxi .item i {
  background: url("../cotizador/img/ico-taxi.svg") no-repeat center top;
  width: 150px;
  height: 80px;
  display: block;
  margin: auto;
}
.box#usos .uso__uber .item i {
  background: url("../cotizador/img/ico-uber.svg") no-repeat center top;
  width: 150px;
  height: 80px;
  display: block;
  margin: auto;
}
.box#laborales .laboral__empleo .item i {
  background: url("../cotizador/img/ico-empleo.svg") no-repeat center top;
  width: 150px;
  height: 125px;
  display: block;
  margin: auto;
}
.box#laborales .laboral__independiente .item i {
  background: url("../cotizador/img/ico-independiente.svg") no-repeat center 1px;
  width: 150px;
  height: 125px;
  display: block;
  margin: auto;
}
.box#laborales .laboral__jubilado .item i {
  background: url("../cotizador/img/ico-jubilado.svg") no-repeat center top;
  width: 150px;
  height: 125px;
  display: block;
  margin: auto;
}
.box#antecedentes .antecedente label {
  text-align: left;
}
.box#antecedentes .antecedente__independiente,
.box#antecedentes .antecedente__empleo {
  display: none;
}
.box#entregas .entrega__despacho .item i {
  background: url("../cotizador/img/ico-despacho-casa.svg") no-repeat center top;
  width: 100%;
  height: 125px;
  display: block;
  margin: auto;
}
.box#entregas .entrega__retiro .item i {
  background: url("../cotizador/img/ico-retiro-tienda.svg") no-repeat center top;
  width: 100%;
  height: 125px;
  display: block;
  margin: auto;
}
.box#datos label {
  text-align: left;
}
.seq-next,
.seq-prev,
.seq-finish {
  padding: 10px 30px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 800;
  text-transform: uppercase;
}
.seq-prev {
  background: none;
  color: #7f8c8d;
}
.seq-next {
  background: #3891ea;
  border: none;
  color: #fff;
  transition: all ease-in-out 0.2s;
}
.seq-next:hover {
  background: #62b5f9 !important;
  color: #fff;
}
.seq-finish {
  background: #35bc6c;
  color: #fff;
  transition: all ease-in-out 0.2s;
  border: none;
}
.seq-finish:hover {
  background: #7ef2ad !important;
  color: #fff;
}
.input-lg {
  height: 40px;
}
.alert {
  padding: 0;
  margin-bottom: 10px;
  display: none;
  background: #f39c12;
  color: #fff;
}
.alert .icon {
  font-size: 32px;
  vertical-align: middle;
  margin-right: 10px;
}
/*RESULTADO COTIZACION*/
.resultado {
  position: relative;
  z-index: 1;
}
.resultado:before {
  background: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/M8DG5HC5SA.jpg") no-repeat center center;
  background-size: cover;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  opacity: 0.8;
  z-index: -1;
}
.resultado .logo-resultado {
  background: url("../cotizador/img/logo-wibi--negativo.svg") no-repeat center center;
  width: 150px;
  height: 150px;
  margin: 30px auto 10px auto;
  position: relative;
  z-index: 2;
}
.resultado .bajada {
  text-align: center;
}
.resultado .bajada p {
  animation-delay: 0.5s;
}
.resultado .info-resultado {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.resultado .info-resultado .columna {
  border-radius: 3px;
  background: rgba(255,255,255,0.8);
  overflow: hidden;
  flex: 1;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 80px;
  animation-delay: 1.5s;
}
.resultado .info-resultado .columna .datos-auto p {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
}
.resultado .info-resultado .columna .datos-auto p:last-child {
  font-size: 16px;
  margin-top: 0;
  color: #999;
}
.resultado .plan {
  padding: 20px;
}
.resultado .plan p {
  font-size: 22px;
  color: #3891ea;
  line-height: 100%;
}
.resultado .plan p span {
  display: block;
  font-size: 13px;
}
.resultado .plan p small {
  font-size: 13px;
  color: #666;
  clear: both;
  display: block;
  margin-bottom: 0;
}
.resultado .titulo-plan {
  background: #3891ea;
  color: #fff;
  padding: 10px 42px;
  text-align: center;
  font-size: 18px;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  line-height: 120%;
}
.tab-opciones {
  width: 30%;
  margin: 50px auto 30px auto;
  animation-delay: 1s;
}
.tab-opciones .tabs {
  display: flex;
  list-style: none;
}
.tab-opciones .tabs li {
  flex: 1;
  text-align: center;
  border: 1px solid #ccc;
}
.tab-opciones .tabs li:first-child {
  border-radius: 5px 0 0px 5px;
}
.tab-opciones .tabs li:last-child {
  border-radius: 0 5px 5px 0;
}
.tab-opciones .tabs li.active {
  background: #3891ea;
  color: #fff;
  border: 1px solid #3891ea;
}
.tab-opciones .tabs li.active a {
  color: #fff;
}
.tab-opciones .tabs li a {
  display: block;
  padding: 8px 10px;
}
.tab-opciones .tabs li a:hover,
.tab-opciones .tabs li a:focus {
  text-decoration: none;
}
@media screen and (max-width: 380px) {
  .box {
    display: flex;
    height: 80vh;
/*height 630px*/
  }
  .box .titulo {
    margin-bottom: 30px;
    margin-top: 0;
  }
  .box .titulo h2 {
    font-size: 20px !important;
  }
  .box label {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .box .input-lg {
    height: 32px;
  }
  .box .item {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .box .item.active:after,
  .box .item box-shadow 0 0 5px #999:after,
  .box .item position relative:after {
    font-size: 5px !important;
  }
  .box .uso,
  .box .laboral,
  .box .marca,
  .box .entrega {
    padding-left: 10px;
    padding-right: 10px;
  }
  .box .laboral {
    padding-left: 3px;
    padding-right: 3px;
  }
  .box .btn {
    padding: 2px 12px;
  }
  .box .filter-option {
    font-size: 16px;
    padding-top: 2px;
  }
  .box#modelo label {
    margin-top: 30px;
  }
  .box#valor .titulo:first-child {
    margin-bottom: 30px;
  }
  .box#datos .titulo {
    margin-bottom: 0;
  }
  .box#datos .titulo small {
    display: none;
    margin-top: 10px;
  }
  .box#datos label {
    font-size: 16px;
  }
  .box#antecedentes .antecedente label {
    text-align: center;
  }
  .box#usos .uso .item i {
    width: 120px;
    height: 60px;
  }
  .box#laborales .laboral .item i {
    width: 120px;
    height: 80px;
  }
  .box#entregas .entrega .item i {
    width: 100%;
    height: 70px;
  }
  .resultado .tab-opciones {
    width: 80%;
  }
  .resultado .info-resultado {
    flex-direction: column;
  }
  .resultado .info-resultado .columna {
    flex-flow: wrap;
    margin-bottom: 10px;
  }
}
