@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700'
@import 'https://fonts.googleapis.com/css?family=Oswald:300,400'
@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'

*
	margin 0
	padding 0

body
	font-family 'Roboto Condensed', Arial !important
	font-size 16px
	color #34495e !important
	background #ecf0f1


//CARROUSEL
.main-container
	padding 0 !important
	margin 0
	height 100vh
  
	.skyblue 
		background-color #22c8ff

	.deepskyblue 
		background-color #00bfff

	.darkerskyblue 
		background-color #00a6dd

	.carousel-indicators 
		bottom 0

	.carousel-control
		&.right,
		&.left 
			background-image none

	.carousel
		height 100vh
		.item 
			height 100vh
			width 100%
		.carousel-caption
			bottom 50px

			h3
				padding .5em
				background-color #09c
			button
				background-color #09c
				border-color #00bfff
				margin-top 1em
		.icon-container
			background-color #09c
			display inline-block
			font-size 25px
			line-height 25px
			padding 1em
			text-align center
			border-radius 50%
		 


	/* Animation delays */
	.carousel-caption h3:first-child 
		animation-delay 1s

	.carousel-caption h3:nth-child(2) 
		animation-delay 2s

	.carousel-caption button 
		animation-delay 3s


	h1
		text-align content
		margin-bottom 30px
		font-size 30px
		font-weight bold


	.p
		padding-top 125px
		text-align center




/*COTIZADOR*/

.box
	height 90vh
	display flex
	justify-content center
	flex-direction column
	width 100%
	
	h2
		color #34495e
		small
			display block
			text-transform none
		.icon
			font-size 
	label
		width 100%
		display block
		font-weight 500
		color #34495e
		margin-top 40px
	
	.btn-container
		width 100%
		
		.btn
			text-transform uppercase
			margin-left 10px
			margin-right 10px
	
	.titulo
		margin-bottom 30px
		text-align center
		margin-top -50px
		h2
			margin-top 0
			text-transform uppercase
			font-size 24px !important
		
	.item
		padding 20px 0
		border-radius 3px
		width 100%
		display block
		height auto
		text-align center
		color #34495e
		border 1px solid #fff
		line-height 100%
		&.active
			box-shadow 0 0 5px #999
			position relative
			background rgba(52,73,94,.1)
			border 1px solid #efefef
			&:after
				content '\f120'
				font-family 'ionicons'
				color #e74c3c
				font-size 24px
				display block
				line-height 170%
				width 10px
				height 10px
				position absolute
				top -5px
				right 15px
		i
			background url('../cotizador/img/icono-demo.svg') no-repeat center top
			width 80px
			height 80px
			display block
			margin auto
	&#marcas
		.item
			background #fff
	
	.otra-marca
		text-align center
		
	
	.dropdown-toggle
		font-size 18px !important
		width 100%
	.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
		width 100% !important
	
	strong
		margin-bottom 10px
		margin-top 20px
		display block
		
	
	.error
		color red
		text-align left
	
	
	&#modelo
		strong
			margin-top 50px
		
	&#valor
		.titulo
			&:first-child
				margin-bottom 100px
				

	&#usos
		.uso
			&__personal
				.item
					i
						background url('../cotizador/img/icono-demo.svg') no-repeat center top
						width 80px
						height 80px
						display block
						margin auto


	&#laborales

	
	&#antecedentes
		.antecedente
			label
	
				text-align left
			&__independiente,
			&__empleo
				display none
	
	&#entregas

	&#datos
		label
			text-align left
			
.seq-next,
.seq-prev,
.seq-finish
	padding 10px 30px
	margin-left 10px
	margin-right 10px
	font-weight 800
	text-transform uppercase

.seq-prev
	background none
	color #7f8c8d

.seq-next
	background #34495e
	color #fff

.seq-finish
	background #2ecc71
	color #fff
	
.input-lg
	height 40px

.alert
	padding 0
	margin-bottom 10px
	display none
	background #f39c12
	color #fff
	.icon
		font-size 32px
		vertical-align middle
		margin-right 10px
	
		


@media screen and (max-width : 380px)
	.box
		display flex
		height 80vh
		/*height 630px*/
		.titulo
			margin-bottom 30px
			margin-top 0
			h2
				font-size 20px !important
		label
			margin-top 10px
			margin-bottom 0
		

		
		.input-lg
			height 32px
		
		.item
			margin-bottom 15px
			font-size 14px
			&.active
			box-shadow 0 0 5px #999
			position relative
				&:after
					font-size 5px !important

		
		.uso,
		.laboral,
		.marca,
		.entrega
			padding-left 10px
			padding-right 10px
			
		.laboral
			padding-left 3px
			padding-right 3px
			
		.btn
			padding 2px 12px
		.filter-option
			font-size 16px
			padding-top 2px
		
		&#modelo
			label
				margin-top 30px
		
		&#valor
			.titulo
					&:first-child
						margin-bottom 30px
		
		&#datos
			.titulo
				margin-bottom 0
				small
					display none
			label
				font-size 16px
		
		
		&#antecedentes
			.antecedente
				label
					text-align center
		
		&#laborales
			.laboral
				.item
					height 150px
					
		
		