@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700'
@import 'https://fonts.googleapis.com/css?family=Oswald:300,400'


*
	margin 0
	padding 0
	
celeste = #3891ea

body
	font-family 'Roboto Condensed', Arial !important
	font-size 16px
	color #34495e !important
	background #ecf0f1


.nav-cotizador
	display flex
	align-items center
	background rgba(255, 255, 255, 0.5)
	width 100%
	height 50px
	padding-top 5px
	padding-bottom 7px
	position fixed
	top 0
	left 0
	z-index 9999
	a.logo-cotizador
		background url('../cotizador/img/logo-wibi--negativo_2.svg') no-repeat center center
		width 50px
		height 50px
		margin-left 15px
		display block
		cursor pointer
		text-indent -99999px
		float left
	span
		float left
		margin-left 5px
		padding-top 5px
		font-weight 300
			
		

//CARROUSEL
.main-container
	padding 0 !important
	margin 0
	height 100vh
	position relative
	
	
	.logo-home
		position absolute
		z-index 9
		background url('') no-repeat center center
		content url('../cotizador/img/logo-wibi--negativo.svg')
		width 200px
		height 200px
		display block
		top 100px
		left 100px
		display block
		transition all ease-in-out .2s
		&:hover
			transform rotateY(170deg)
			opacity .5

  
	.slide_1 
		background-color #22c8ff
		background url('../cotizador/img/slide_1_1.png') no-repeat bottom center
		background-size cover
		

	.slide_2 
		background-color #00bfff
		background url('../cotizador/img/slide_2.png') no-repeat bottom center
		background-size cover
		opacity .8

	.carousel-indicators 
		bottom 0

	.carousel-control
		&.right,
		&.left 
			background-image none
			width 10% !important

	.carousel
		height 100vh
		
		.item 
			height 100vh

			
		.carousel-caption
			margin-bottom 20px
			margin-left 0	!important
			margin-right 0 !important
			text-align left
			padding-top 10px
			left 10%
			bottom 60px
			width 40%
			
			h2
				animation-delay 0.5s

			h3
				animation-delay 0.9s
				font-weight 200
				font-size 20px
				
			a
				&.more
					background celeste !important
					margin-top 1em
					animation-delay 1.5s
					text-shadow none 
					opacity 1
				&:hover
					border-color none !important
				




/*COTIZADOR*/

.box
	height 90vh
	display flex
	justify-content center
	flex-direction column
	width 100%
	
	h2
		color #34495e
		small
			display block
			text-transform none
		.icon
			font-size 
	h4
		color #34495e
		
	label
		width 100%
		display block
		font-weight 500
		color #34495e
		margin-top 40px
	
	.btn-container
		width 100%
		
		.btn
			text-transform uppercase
			margin-left 10px
			margin-right 10px
	
	.titulo
		text-align center
		h2
			margin-top 0
			text-transform uppercase
			font-size 24px !important
		
	.item
		padding 20px 0
		border-radius 3px
		width 100%
		display block
		height auto
		text-align center
		color #34495e
		border 1px solid #fff
		line-height 100%
		&.active
			box-shadow 0 0 5px #999
			position relative
			background rgba(52,73,94,.1)
			border 1px solid #efefef
			&:after
				content '\f120'
				font-family 'ionicons'
				color #e74c3c
				font-size 24px
				display block
				line-height 170%
				width 10px
				height 10px
				position absolute
				top -5px
				right 15px
		i
			background url('../cotizador/img/icono-demo.svg') no-repeat center top
			width 80px
			height 80px
			display block
			margin auto
	&#marcas
		.item
			background #fff
	
	.otra-marca
		text-align center
		
	
	.dropdown-toggle
		font-size 18px !important
		width 100%
	.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
		width 100% !important
	
	strong
		margin-bottom 10px
		margin-top 20px
		display block
		
	
	.error
		color red
		text-align left
	
	
	&#modelo
		strong
			margin-top 50px
		
	&#valor
		.titulo
			&:first-child
				margin-bottom 20px
				

	&#usos
		.uso
			&__personal
				.item
					i
						background url('../cotizador/img/ico-personal.svg') no-repeat center top
						width 150px
						height 80px
						display block
						margin auto
			&__negocio
				.item
					i
						background url('../cotizador/img/ico-negocio.svg') no-repeat center top
						width 150px
						height 80px
						display block
						margin auto
			&__taxi
				.item
					i
						background url('../cotizador/img/ico-taxi.svg') no-repeat center top
						width 150px
						height 80px
						display block
						margin auto
			&__uber
				.item
					i
						background url('../cotizador/img/ico-uber.svg') no-repeat center top
						width 150px
						height 80px
						display block
						margin auto


	&#laborales
		.laboral
			&__empleo
				.item
					i
						background url('../cotizador/img/ico-empleo.svg') no-repeat center top
						width 150px
						height 125px
						display block
						margin auto
			
			&__independiente
				.item
					i
						background url('../cotizador/img/ico-independiente.svg') no-repeat center 1px
						width 150px
						height 125px
						display block
						margin auto
						
			&__jubilado
				.item
					i
						background url('../cotizador/img/ico-jubilado.svg') no-repeat center top
						width 150px
						height 125px
						display block
						margin auto
				

	
	&#antecedentes
		.antecedente
			label
	
				text-align left
			&__independiente,
			&__empleo
				display none
	
	&#entregas
		.entrega
			&__despacho
				.item
					i
						background url('../cotizador/img/ico-despacho-casa.svg') no-repeat center top
						width 100%
						height 125px
						display block
						margin auto
			
			&__retiro
				.item
					i
						background url('../cotizador/img/ico-retiro-tienda.svg') no-repeat center top
						width 100%
						height 125px
						display block
						margin auto
						

	&#datos
		label
			text-align left
			
.seq-next,
.seq-prev,
.seq-finish
	padding 10px 30px
	margin-left 10px
	margin-right 10px
	font-weight 800
	text-transform uppercase

.seq-prev
	background none
	color #7f8c8d

.seq-next
	background celeste
	border none
	color #fff
	transition all ease-in-out .2s
	&:hover
		background #62b5f9 !important
		color #fff

.seq-finish
	background #35bc6c
	color #fff
	transition all ease-in-out .2s
	border none
	&:hover
		background #7ef2ad !important
		color #fff
	
.input-lg
	height 40px

.alert
	padding 0
	margin-bottom 10px
	display none
	background #f39c12
	color #fff
	.icon
		font-size 32px
		vertical-align middle
		margin-right 10px
	
		


@media screen and (max-width : 380px)
	.box
		display flex
		height 80vh
		/*height 630px*/
		.titulo
			margin-bottom 30px
			margin-top 0
			h2
				font-size 20px !important
		label
			margin-top 10px
			margin-bottom 0
		

		
		.input-lg
			height 32px
		
		.item
			margin-bottom 15px
			font-size 14px
			&.active
			box-shadow 0 0 5px #999
			position relative
				&:after
					font-size 5px !important

		
		.uso,
		.laboral,
		.marca,
		.entrega
			padding-left 10px
			padding-right 10px
			 
		.laboral
			padding-left 3px
			padding-right 3px
			
		.btn
			padding 2px 12px
		.filter-option
			font-size 16px
			padding-top 2px
		
		&#modelo
			label
				margin-top 30px
		&#valor
			.titulo
					&:first-child
						margin-bottom 30px
		&#datos
			.titulo
				margin-bottom 0
				small
					display none
					margin-top 10px
			label
				font-size 16px
		&#antecedentes
			.antecedente
				label
					text-align center
		&#usos
			.uso
				.item
					i
						width 120px 
						height 60px 
		&#laborales
			.laboral
				.item
					i
						width 120px 
						height 80px
		&#entregas
			.entrega
				.item
					i
						width 100%
						height 70px
					
		
		