@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700'
@import 'https://fonts.googleapis.com/css?family=Oswald:300,400'

*
	margin 0
	padding 0

body
	font-family 'Roboto Condensed', Arial !important
	font-size 16px
	color #333


//CARROUSEL
.main-container
	padding 0 !important
	margin 0
	height 100vh
  
	.skyblue 
		background-color #22c8ff

	.deepskyblue 
		background-color #00bfff

	.darkerskyblue 
		background-color #00a6dd

	.carousel-indicators 
		bottom 0

	.carousel-control
		&.right,
		&.left 
			background-image none

	.carousel
		height 100vh
		.item 
			height 100vh
			width 100%
		.carousel-caption
			bottom 50px

			h3
				padding .5em
				background-color #09c
			button
				background-color #09c
				border-color #00bfff
				margin-top 1em
		.icon-container
			background-color #09c
			display inline-block
			font-size 25px
			line-height 25px
			padding 1em
			text-align center
			border-radius 50%
		 


	/* Animation delays */
	.carousel-caption h3:first-child 
		animation-delay 1s

	.carousel-caption h3:nth-child(2) 
		animation-delay 2s

	.carousel-caption button 
		animation-delay 3s


	h1
		text-align content
		margin-bottom 30px
		font-size 30px
		font-weight bold


	.p
		padding-top 125px
		text-align center




/*COTIZADOR*/

.box
	height 90vh
	background #fff
	/*position relative*/
	display flex
	justify-content center
	flex-direction column
	width 100%
	
	h2
		small
			display block
			text-transform none
	label
		width 100%
		display block
	
	.btn-container
		/*position absolute
		bottom 20px*/
		width 100%
		
		.btn
			text-transform uppercase
			margin-left 10px
			margin-right 10px
	
	.titulo
		margin-bottom 30px
		text-align center
		color #333
		margin-top -50px
		h2
			margin-top 0
			text-transform uppercase
			font-size 24px !important
	.marca
		text-align center
		span
			outline 1px solid red
			width 100%
			display block
			height 100px
	
	.otra-marca
		text-align center
		display inline-block
		width 300px
		margin 80px auto
	
	.dropdown-toggle
		font-size 18px !important
		width 100%
	.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
		width 100% !important
	
	strong
		color #333
		margin-bottom 10px
		margin-top 20px
		display block
	
	&#modelo
		strong
			margin-top 50px
		
	&#valor
		.titulo
			&:first-child
				margin-bottom 100px
				

	&#usos
		.uso
			span
				text-align center
				border 1px solid red
				width 100%
				display block
				height 100px
				color #333
	
	&#laborales
		.laboral
			span
				text-align center
				border 1px solid red
				width 100%
				display block
				height 100px
				color #333
	
	&#antecedentes
		.antecedente
			label
				color #333
				font-weight 300
				text-align left
			&__independiente,
			&__empleo
				display none
	
	&#entregas
		.entrega
			span
				text-align center
				border 1px solid red
				width 100%
				display block
				height 100px
				color #333
	
	&#datos
		label
			color #333
			font-weight 300
			text-align left


@media screen and (max-width : 380px)
	.box
		/*height 630px*/