@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700'
@import 'https://fonts.googleapis.com/css?family=Oswald:300,400'

*
	margin 0
	padding 0 

body
	font-family 'Roboto Condensed', Arial
	font-size 16px


//CARROUSEL
.main-container
	padding 0 !important
	margin 0
	height 100vh
  
	.skyblue 
		background-color #22c8ff

	.deepskyblue 
		background-color #00bfff

	.darkerskyblue 
		background-color #00a6dd

	.carousel-indicators 
		bottom 0

	.carousel-control
		&.right,
		&.left 
			background-image none

	.carousel
		height 100vh
		.item 
			height 100vh
			width 100%
		.carousel-caption
			bottom 50px

			h3
				padding .5em
				background-color #09c
			button
				background-color #09c
				border-color #00bfff
				margin-top 1em
		.icon-container
			background-color #09c
			display inline-block
			font-size 25px
			line-height 25px
			padding 1em
			text-align center
			border-radius 50%
		 


	/* Animation delays */
	.carousel-caption h3:first-child 
		animation-delay 1s

	.carousel-caption h3:nth-child(2) 
		animation-delay 2s

	.carousel-caption button 
		animation-delay 3s


	h1
		text-align content
		margin-bottom 30px
		font-size 30px
		font-weight bold


	.p
		padding-top 125px
		text-align center




/*COTIZADOR*/

.box
	height 97vh
	//margin 10px
	background #efefef
	position relative
	
	.btn-container
		position absolute
		bottom 20px
		width 100%
		
		.btn
			text-transform uppercase
			margin-left 10px
			margin-right 10px
	
	.titulo
		margin-top 30px
		margin-bottom 30px
		h2
			text-transform uppercase
			font-size 24px !important
	
	.dropdown-toggle
		font-size 20px !important
		width auto
	.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)
		width auto