@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,300')
@import url('https://fonts.googleapis.com/css?family=Bree+Serif')

//variables
$blanco = #ffffff
$corp_1 = #006da9 //azul
$corp_2 = #8dc63f //verde claro
$corp_3 = #009344 //verde oscuro
$corp_4 = #6d6e71 // gris
$sombra-texto = 0 0 7px rgba(0,0,0,.9)
$borde-imagen = 5px solid rgba(198, 228, 157, .5)

body
	font 14px/140% "Roboto"
	color $corp_4
	padding-bottom 0
	
#trigger-menu 
	padding 5px 10px
	color $corp_2
	cursor pointer
	border-radius  3px
	float right
	display none
	margin  17px -5px 0 0
	text-align  center
	display  none
	font-size  24px

#menu-mobile 
	background  $corp_3
	padding  0
	position  fixed
	right  -600px
	top  70px
	width  250px
	display none
	z-index  9
	height  100vh
	transition  all 0.5s ease-in-out 0s
	-webkit-transition  all 0.5s ease-in-out 0s
	-moz-transition  all 0.5s ease-in-out 0s
	&.activo
		right  0
		box-shadow 0 0 10px rgba(0,0,0,0.5)
	
	ul 
		list-style-type  none
		padding-left  0
		width  100%
		li
			width 100%
			display block
			height auto
			padding 15px 0 15px 15px
			margin-left 0
			border-bottom  1px solid $corp_3 + 5%
			&:active,
			&:focus,
			&:hover
				background $corp_2
		a
			color  $blanco
			display  block
			height auto
			padding  0
	
	

nav
	background  rgba(255, 255, 255,.95)
	box-shadow 0 0 2px rgba(0,0,0,.5)
	padding  0 20px
	height  70px
	z-index  9
	position  fixed
	top  0
	width  100% 
	.brand
		width  170px
		height  48px
		text-indent  -9999999px
		background url(../img/broteverde-horizontal.svg) no-repeat center center
		background-size  100%
		margin-top 10px
	ul
		display  table
		list-style  none
		border  none
		li
			display  table-cell
			padding  25px 0
			margin-left  20px
			margin-right  20px
			margin-top  0
			height  70px
			font  400 14px "Roboto"
			border-bottom  3px solid transparent
			text-decoration  none
			-webkit-transition  all .25s ease-in-out 0s
			-moz-transition  all .25s ease-in-out 0s
			-ms-transition  all .25s ease-in-out 0s
			-o-transition  all .25s ease-in-out 0s
			transition  all .25s ease-in-out 0s
			&:hover
				background  #efefef
				a
			&.active
				background $corp_4+80%
			a
				height  70px
				padding 30px 15px
				color  $corp_3
                font-weight bold !important
				text-decoration  none
				-webkit-transition  all .25s ease-in-out 0s
				-moz-transition  all .25s ease-in-out 0s
				-ms-transition  all .25s ease-in-out 0s
				-o-transition  all .25s ease-in-out 0s
				transition  all .25s ease-in-out 0s
				&:hover
					color $corp_1 !important
		

//FOOTER
footer
	background #c6e29f
	padding 15px 0
	margin-bottom 0
	font-size 14px
	color #596a44
	a
		color #596a44
		&:hover
			color #596a44
			
	.logo-footer
		width 30px
		height 30px
		margin auto
		margin-top -4px
		display block
		background url(../img/logo-footer.svg) no-repeat center center
	
	a
		.fa
			margin-top 3px
			font-size 18px
			margin-left 10px
		&:hover
			.fa-facebook-official
				color #3b5998
			.fa-instagram
				color #125688

        
//HERO
.hero 
	background url(../img/hero/bg-hero.png) no-repeat center center
	background-size cover
	height 650px
	display block
	h2
		text-align center
		width 100%
		font 42px "Bree Serif"
		text-shadow 0 0 20px rgba(0,0,0,0.5)
		margin 300px auto 0 auto
		color $blanco
		.rotate
			color $corp_2 !important
	h3
		font-size 16px
		line-height 140%
		text-shadow 0 0 20px rgba(0,0,0,0.5)
		color $blanco
		font-weight 400
		text-align center
		width 50%
		margin 5px auto

//SERVICIOS HOME
.icono__servicio
	border none
	width 120px
	height 120px
	margin-bottom 10px
	&--soluciones
		background url(../img/iconos/ico-soluciones.svg) no-repeat center center
		background-size 110%
	&--bajo-consumo
		background url(../img/iconos/ico-bajo-consumo.svg) no-repeat center center
		background-size 110%
	&--asesorias
		background url(../img/iconos/ico-asesorias.svg) no-repeat center center
		background-size 110%
		


//GENERICOS
a
	&:hover
		text-decoration none
.titulo-home
	text-align center
	font 24px "Bree serif"

.titulo-seccion
	font 32px "Bree serif"
	margin-bottom 20px

.subtitulo
	font 24px "Bree serif"
	margin-bottom 20px
	margin-top 0

.bajada
	font-size 32px
	font-weight 300
	line-height 111%
	color $corp_2 !important

figure,
figcaption
	text-align center
	text-transform uppercase
	
figure
	border-radius 50%
	border $borde-imagen
	width 170px
	height 170px
	margin 20px auto
	overflow hidden
	
figcaption
	padding-left 20px
	padding-right 20px
	
	
.btn-mas-info
	border-radius 20px
	padding 10px 25px
	height auto
	border 1px solid $corp_2
	color $corp_2
	margin 60px 0 20px 0
	text-transform uppercase
	font-weight bold
	font-size 14px
	clear both
	-webkit-transition  all .25s ease-in-out 0s
	-moz-transition  all .25s ease-in-out 0s
	-ms-transition  all .25s ease-in-out 0s
	-o-transition  all .25s ease-in-out 0s
	transition  all .25s ease-in-out 0s
	&:hover
		color #009344
		border-color #009344

//SECCIONES
.home
	.ofrecemos,
	.testimonios,
	.proponemos
		padding-top 60px
		padding-bottom 60px
	.proponemos
		figure
			position relative
			img
				margin 0 0 0 -90px
				position absolute
				left 50%	
	.testimonios
		background url(../img/bg-testimonios.png) no-repeat center center
		background-size cover
		min-height 465px
		text-align center
		.titulo-home
			color $blanco
			text-shadow $sombra-texto
		q
			color $blanco
			font 36px "Bree serif"
			display block
			margin 40px auto
			text-shadow $sombra-texto
			width 55%
		.btn-mas-info
			color $blanco
			border-color $blanco
			text-shadow $sombra-texto
			&:hover
				color #009344
				border-color #009344

.hero__interior
	padding-top 150px
	.titulo-seccion__interior
		color $blanco
		margin-bottom 10px
	&--quienes
		background url(../img/bg_quienes.png) no-repeat center center
		background-size cover
		height 650px
		.titulo-seccion__interior
			margin-bottom 60px
		p
			color $blanco
			font-size 16px
		.bajada
			font-size 33px
			line-height 120%
		figure
			width 350px
			height 350px
			overflow hidden
			margin-top -80px
			img
				left -30%
				top -25px
				position relative
	&--generica
		padding-top 120px
		background url(../img/bg_quienes.png) no-repeat center center
		background-size cover
		height 300px
		
	
.proposito
	padding-top 60px
	padding-bottom 60px
	.frase
		color $corp_3
		font-size 22px
		line-height 200%
		font-weight 300
		width auto

.interior
	.proponemos
		background $corp_4 + 90%
		padding-top 60px
		padding-bottom 60px
		figure
			width 150px
			height 150px
	.ofrecemos
		padding-top 60px
		padding-bottom 60px
		figure
			width 150px
			height 150px
			margin 0 auto
			img
				height 100%
				margin-left -25px
		.row
			&:last-child
				figure
					img
						margin-left 0px
		.detalle
			outline 0px solid red
			min-height 150px
			margin-bottom 40px
			padding-top 20px
				
	.descripcion
		font-weight 400
		font-size 20px
		color $corp_2
		width 60%
		display block
	.thumb
		height auto
		padding-top 0
		margin-bottom 30px
		padding-bottom 0
		vertical-align top
		display table
		figure
			display table-cell
			border-radius 0
			width auto
			height auto
			position relative
			overflow hidden
			border 2px solid #efefef
			img
				border-radius 5px
				width 100%
			.overlay
				width 100%
				height 100%
				position absolute
				top 100%
				z-index 2
				display block
				opacity .7
				background $corp_2
				transition all 0.3s ease-in-out 0s
				.fa
					font-size 24px
					text-shadow 0 0 5px rgba(0,0,0,.3)
					color $blanco
					position absolute
					top calc(50% - 12px)
					left calc(50% - 9px)
			&:hover
				.overlay
					top 0
	.galeria
		padding-top 40px
		.row__thumbs
			margin-bottom 60px
			&:last-child
				margin-bottom 60px
		h4
			overflow hidden
			width auto
			&:after
				background-color #ccc
				content ""
				display inline-block
				height 1px
				position relative
				vertical-align middle
				width 100%
				margin-left 10px
				left 0.5 em
				margin-right -50%
	.testimonios
		padding-top 40px
		padding-bottom 60px
		.testimonio
			margin 0 0 80px 0
			text-align center
			figure
				img
					height 100%
	.contacto
		padding-top 60px
		padding-bottom 60px
		.btn
			margin-right 20px
			border-radius 20px
			background none
			border 1px solid $corp_2
			color $corp_2
			text-transform uppercase
			font-weight 700
			padding 10px 20px
			-webkit-transition  all .25s ease-in-out 0s
			-moz-transition  all .25s ease-in-out 0s
			-ms-transition  all .25s ease-in-out 0s
			-o-transition  all .25s ease-in-out 0s
			transition  all .25s ease-in-out 0s
			&:hover
				color #009344
				border-color #009344
		small
			padding-top 12px
		h3,
		h5
			&:after
				display block
				content ""
				border none
				margin 0 auto 15px auto
			.fa
				display block
				clear both
				color $corp_1
				margin-bottom 8px
			.fa-mobile
				font-size 20px
		h3
			color $corp_1
		h5
			font-weight 200

.gracias
	footer
		position relative
		bottom -87px
		margin-bottom -100px

@media screen and (width: 1024px)
	.hero__interior
		&--quienes
			p
				color $blanco
				font-size 16px
			.bajada
				font-size 31px
				line-height 120%


@media screen and (max-width:768px)
	#trigger-menu
		display block
	#menu-mobile
		display block
	
	nav
		.brand
			width 150px
	
	.home
		.hero
			height 580px
			h2
				margin-top 260px
			h3
				width 75%
		.testimonios
			q
				width 80%
		.ofrecemos,
		.testimonios,
		.proponemos
			padding-top 40px
			padding-bottom 40px
	
	.interior
		.descripcion
			color $blanco
		.hero__interior--quienes
			padding-top 100px
			height 600px
			.titulo-seccion__interior
				margin-bottom 20px
			.bajada
				line-height 125%
				font-size 31.6px
			figure
				width 270px
				height 270px
				margin-top 20px
				img
					left -73px
					top -10px
					height 110%
		.hero__interior--generica
				padding-top 100px
				height 270px
		
		

@media screen and (max-width:480px)
	nav
		.brand
			width 130px
			
	#trigger-menu
		display block
	#menu-mobile
		display block
	

	//HOME
	.home
		.hero
			height 550px
			h2
				margin-top 200px
				font-size 32px
			h3
				width 90%
		.ofrecemos,
		.testimonios,
		.proponemos
			padding-top 40px
			padding-bottom 40px
		.testimonios
			q
				font-size 24px
				width 90%
	
	footer
		font-size 12px

		

	//INTERIOR
	.interior
		.descripcion
			width 100%
			color $blanco
			line-height 120%
			font-size 17px
		.hero__interior
			padding-top 80px
			&--quienes
				height 700px
				p
					font-size 16px
				figure
					width 200px
					height 200px
					margin-top 20px
					img
						height 100%
						top 0
						left -40px
			&--generica
				height 250px
			.titulo-seccion__interior
				margin-bottom 15px
			.bajada
				font-size 20px
				font-weight 400
				color $blanco !important
		
		.proposito
			padding-top 130px
			.frase
				font-size 16px
		
		.ofrecemos
			.detalle
				text-align center
		
		.galeria
			h4
				font-size 16px
				&:after
					display none
			.thumb
				margin-bottom 20px
		
		.testimonios
			.testimonio
				margin-bottom 40px
		
		.contacto
			.col-md-4
				margin-top 40px
			textarea
				resize none


@media (width: 360px)
	.interior
		.hero__interior
			&--quienes
				height 700px
				

@media (width: 375px)
	.interior
		.hero__interior
			&--quienes
				height 670px
		.thumb
			&:first-child
				figure
					img
						width 340px

@media (width: 414px)
	.interior
		.hero__interior
			&--quienes
				height 590px
		.thumb
			&:first-child
				figure
					img
						width 380px

@media (width: 320px)
	.interior
		.hero__interior
			&--quienes
				height 750px !important
		.thumb
			&:first-child
				figure
					img
						width 285px
	
				
