/* Estilos en el Home
******************************************************************************/ 
body { padding-top: 52px; }


#banner-slider{margin:  0 auto 30px; height: 270px; width: auto;} /*233*/

.carousel-home { overflow: hidden;}

.divimagen {
  width: 100%;
  height: 100%;
  position: relative;
}
.logo {
  bottom: 10px;
  position: absolute;
  right: 20px;
}
.banner {
  left: 0;
  position: relative;
  top: 0;
}


.boxed {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  padding: 0 20px 0;
}


.tab-content .tab-pane{
  max-height:630px;
  position:relative;
  overflow:auto;
}

.loader {
  background-image: url("../images/loader.gif");
  background-repeat: none;
  background-position: center;
  height: 100px;    
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.mCSB_scrollTools .mCSB_draggerRail{
  background:#34476F; /* rgba fallback */
  background:rgba(57, 80, 125,0.4);

  filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #314583;
  filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
  background:#34476F;
  filter:"alpha(opacity=85)"; -ms-filter:"alpha(opacity=85)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
  background:rgba(100,125,174,0.9);
  filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}


li a.btn_circle, a.btn_circle {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 2px solid;
  border-radius: 33px 33px 33px 33px;
  float: left;
  font-family: 'FontAwesome';
  font-size: 20px;
  height: 33px;
  margin: 7px 7px 0 0;
  padding: 5px 0 0 7px;
  text-decoration: none;
  width: 34px;
}

.webpay {margin:10px 0;}


/* Estilos para caluga producto
*********************************/
.caption .desc {height: 50px; overflow: hidden; font-size:12px;}
.caption h4  {height: 40px; overflow: hidden;}
.caption nombre  {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                  font-weight: 500;
                  line-height: 1.1;
                  font-size: 18px;
                  margin :10px 0;}
.star {margin: 10px 0;}
.input-compra { font-size: 28.5px!important; text-align: center; width:100px !important; height: auto !important;}

.modal-dialog {
  left: 50%;
  padding-bottom: 30px;
  padding-top: 30px;
  right: auto;
  width: auo;
}


@media (min-width: 768px) {
  .description {min-height:240px;}
}

@media (min-width: 991px) {
  .row-fluid .lista-home {
    width: 74.35897435897436%;
    *width: 74.30578286961266%;
    -moz-box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.12766%;
    min-height: 30px;
  }
}

@media (max-width: 767px) {
  .carousel-home { overflow: hidden;}
}


@media (min-width: 480px )  and (max-width: 767px ){

  .col-xsm-1,
  .col-xsm-2,
  .col-xsm-3,
  .col-xsm-4,
  .col-xsm-5,
  .col-xsm-6,
  .col-xsm-7,
  .col-xsm-8,
  .col-xsm-9,
  .col-xsm-10,
  .col-xsm-11 {
    float: left;
  }
  .col-xsm-1 {
    width: 8.333333333333332%;
  }
  .col-xsm-2 {
    width: 16.666666666666664%;
  }
  .col-xsm-3 {
    width: 25%;
  }
  .col-xsm-4 {
    width: 33.33333333333333%;
  }
  .col-xsm-5 {
    width: 41.66666666666667%;
  }
  .col-xsm-6 {
    width: 50%;
  }
  .col-xsm-7 {
    width: 58.333333333333336%;
  }
  .col-xsm-8 {
    width: 66.66666666666666%;
  }
  .col-xsm-9 {
    width: 75%;
  }
  .col-xsm-10 {
    width: 83.33333333333334%;
  }
  .col-xsm-11 {
    width: 91.66666666666666%;
  }
  .col-xsm-12 {
    width: 100%;
  }
  .col-xsm-push-1 {
    left: 8.333333333333332%;
  }
  .col-xsm-push-2 {
    left: 16.666666666666664%;
  }
  .col-xsm-push-3 {
    left: 25%;
  }
  .col-xsm-push-4 {
    left: 33.33333333333333%;
  }
  .col-xsm-push-5 {
    left: 41.66666666666667%;
  }
  .col-xsm-push-6 {
    left: 50%;
  }
  .col-xsm-push-7 {
    left: 58.333333333333336%;
  }
  .col-xsm-push-8 {
    left: 66.66666666666666%;
  }
  .col-xsm-push-9 {
    left: 75%;
  }
  .col-xsm-push-10 {
    left: 83.33333333333334%;
  }
  .col-xsm-push-11 {
    left: 91.66666666666666%;
  }
  .col-xsm-pull-1 {
    right: 8.333333333333332%;
  }
  .col-xsm-pull-2 {
    right: 16.666666666666664%;
  }
  .col-xsm-pull-3 {
    right: 25%;
  }
  .col-xsm-pull-4 {
    right: 33.33333333333333%;
  }
  .col-xsm-pull-5 {
    right: 41.66666666666667%;
  }
  .col-xsm-pull-6 {
    right: 50%;
  }
  .col-xsm-pull-7 {
    right: 58.333333333333336%;
  }
  .col-xsm-pull-8 {
    right: 66.66666666666666%;
  }
  .col-xsm-pull-9 {
    right: 75%;
  }
  .col-xsm-pull-10 {
    right: 83.33333333333334%;
  }
  .col-xsm-pull-11 {
    right: 91.66666666666666%;
  }
  .col-xsm-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-xsm-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-xsm-offset-3 {
    margin-left: 25%;
  }
  .col-xsm-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-xsm-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-xsm-offset-6 {
    margin-left: 50%;
  }
  .col-xsm-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-xsm-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-xsm-offset-9 {
    margin-left: 75%;
  }
  .col-xsm-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-xsm-offset-11 {
    margin-left: 91.66666666666666%;
  }
}


#message {
  width: 715px;
  height: 110px;
  position: fixed;
  right: -663px;
  bottom: 20px;
  z-index: 9999;
}
#message_btn {
  float: left;
  width: 52px;
  height: 52px;
  background: url('/lib/images/exclamation-circle_red.png') no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}
#message .caja_news {
  float: left;
  height: 120px;
  padding: 0 10px;
  text-align: justify;

  width: 663px;
  border: 1px solid #c4c7c8;
  color: #4c565f;
  background: #ffffff; /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 50%, #e8e8e8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#ffffff), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#e8e8e8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#e8e8e8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 50%,#e8e8e8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-8 */	
}
.no-csstransitions #message .caja_news {
  filter: none;
  background: #e8e8e8;
}
#message .caja_news h5 {
  font-family: Arial;
  border-bottom: 1px solid #c4c7c8;
  font-size: 18px;
  padding: 7px 0;
  font-weight: bold!important;
}
#message .caja_news p {
  margin: 10px 0;
}
#message .caja_news input {
  width: 160px;
  font-style: italic;
  height: 17px;
  color: #999;
  padding: 2px 4px;
  border: 1px solid #dfdfdf;
  background: #dfdfdf; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #dfdfdf 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdfdf), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #dfdfdf 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #dfdfdf 0%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #dfdfdf 0%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #dfdfdf 0%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.no-csstransitions #message .caja_news input {
  filter: none;
  background: #dfdfdf;
}
#message .caja_news button {
  background: #990000;
  color: #FFF;
  padding: 4px;
  text-decoration: none;
  width: 100px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 10px;
  border: 0;
}
#message .caja_news button:hover {
  background: #f00;
}


#adblockk {
  width: 670px;
  height: 110px;
  position: fixed;
  left: -670px;
  top: 0px;
  z-index: 9999;
}    

#adblockk .caja_news {
  float: left;
  height: 120px;
  padding: 0 10px;
  text-align: justify;

  width: 670px;
  border: 1px solid #c4c7c8;
  color: #4c565f;
  background: #ffffff; /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 50%, #e8e8e8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#ffffff), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#e8e8e8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#e8e8e8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 50%,#e8e8e8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-8 */	
}
.no-csstransitions #adblockk .caja_news {
  filter: none;
  background: #e8e8e8;
}
#adblockk .caja_news h5 {
  font-family: Arial;
  border-bottom: 1px solid #c4c7c8;
  font-size: 18px;
  padding: 7px 0;
  font-weight: bold!important;
}
#adblockk .caja_news p {
  margin: 10px 0;
}
#adblockk .caja_news input {
  width: 160px;
  font-style: italic;
  height: 17px;
  color: #999;
  padding: 2px 4px;
  border: 1px solid #dfdfdf;
  background: #dfdfdf; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #dfdfdf 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdfdf), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #dfdfdf 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #dfdfdf 0%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #dfdfdf 0%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #dfdfdf 0%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.no-csstransitions #adblockk .caja_news input {
  filter: none;
  background: #dfdfdf;
}
#adblockk .caja_news button {
  background: #990000;
  color: #FFF;
  padding: 4px;
  text-decoration: none;
  width: 100px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 10px;
  border: 0;
}
#adblockk .caja_news button:hover {
  background: #f00;
}

