@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700';
@import 'https://fonts.googleapis.com/css?family=Oswald:300,400';
body {
  font: 400 16px/160% 'Roboto Condensed', Arial, sans-serif;
  color: #282828;
}
/*NAVIGATION*/
nav {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #b7e6f2;
  z-index: 9999;
  transition: all ease-in-out 0.3s;
}
nav .brand {
  background: url("../img/logo-vmetrix-corp.svg");
  text-indent: -999999px;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100px;
  height: 30px;
  margin-top: 5px;
  opacity: 0;
  transition: all ease-in-out 0.3s;
}
nav ul {
  margin: 0;
}
nav ul li {
  display: inline;
  float: left;
  transition: all ease-in-out 0.2s;
}
nav ul li a {
  font-size: 14px;
  text-transform: uppercase;
  color: #b7e6f2;
  display: block;
  padding: 10px 15px;
  margin: 0;
}
nav ul li a:hover {
  text-decoration: none;
  color: #fff;
}
nav ul li:hover {
  box-shadow: inset 0 -3px 0 0 #fff;
}
nav.active {
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  border-bottom: none;
}
nav.active ul li a {
  color: #0d70b1;
}
nav.active ul li a:hover {
  color: #b7e6f2;
}
nav.active ul li:hover {
  box-shadow: inset 0 -3px 0 0 #b7e6f2;
}
nav.active .brand {
  opacity: 1;
}
nav.active .mobile-menu {
  color: #0d70b1;
}
nav .mobile-menu {
  font-size: 28px;
  color: #fff;
  display: none;
  width: 46px;
  height: 46px;
  text-align: center;
  position: relative;
}
nav .mobile-menu .icon {
  vertical-align: middle;
  position: absolute;
  display: block;
  margin-top: 10px;
  margin-left: 20px;
}
.nav-subpage {
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.nav-subpage ul li a {
  color: #0d70b1;
}
.nav-subpage ul li a:hover {
  color: #b7e6f2;
}
.nav-subpage ul li:hover {
  box-shadow: inset 0 -3px 0 0 #b7e6f2;
}
.nav-subpage .brand {
  opacity: 1;
}
/*GLOBALES*/
#hero,
#company,
#services,
#clients,
#quote,
#video,
#contact-us {
  height: 600px;
  padding: 40px;
  border-bottom: 1px solid #efefef;
}
h3 {
  color: #0d70b1;
  font: 300 23px 'Oswald';
  text-transform: uppercase;
}
h3:after {
  content: '';
  display: block;
  height: 3px;
  width: 100px;
  background: #0d70b1;
  margin: 20px auto;
}
.sentence {
  font: 300 23px 'Roboto Condensed';
}
#hero {
  background: url("../img/bg-hero.png");
  background-size: cover;
  color: #fff;
  padding-top: 90px;
  height: 100vh;
  max-height: 600px;
}
#hero figure {
  background: url("../img/logo-vmetrix.svg");
  text-indent: -999999px;
  background-repeat: no-repeat;
  margin-top: 100px;
  background-size: 100%;
  width: 200px;
  height: 70px;
}
#hero figcaption {
  font: 19px Arial, sans-serif;
  margin-left: 5px;
}
#hero figcaption:after {
  content: '';
  display: block;
  height: 3px;
  width: 100px;
  background: #fff;
  margin: 20px 0;
}
#hero p {
  font: 300 16px/160% 'Roboto Condensed';
  width: 43%;
}
#company {
  padding-top: 130px;
  background: url("../img/bg-company.png") #f0f0f0;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
}
#company .sentence {
  color: #808080;
  width: 90%;
  margin: auto;
}
#company .sentence:after {
  content: '';
  display: block;
  height: 3px;
  width: 100px;
  background: #c4cce2;
  margin: 20px auto;
}
#company a.more-info {
  font-weight: 300;
  padding: 5px 20px;
  color: #939393;
  border: 1px solid #939393;
  border-radius: 3px;
  background: none;
  font: light 16px 'Roboto Condensed';
  margin-top: 40px;
  transition: all ease-in-out 0.2s;
}
#company a.more-info:hover {
  text-decoration: none;
  color: #0d70b1;
  border-color: #0d70b1;
}
#services {
  background: #f7f6f6;
  height: auto;
  padding-bottom: 60px;
}
#services .item {
  margin-top: 90px;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 0;
  height: 250px;
}
#services .item figure {
  margin-top: 20px;
}
#services .item figcaption {
  margin-top: 20px;
  line-height: 120%;
}
#services .item .item-detail {
  display: block;
  background: #f0f0f0;
  padding: 15px;
  position: absolute;
  top: 100%;
  height: 250px;
  font-size: 14px;
  line-height: 120%;
  overflow-y: auto;
  left: 0;
  transition: all ease-in-out 0.3s;
  text-align: left;
}
#services .item .item-detail p {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #e5e5e5;
}
#services .item:hover .item-detail {
  top: 0;
}
#services .item ::-webkit-scrollbar,
#services .item width 12px,
#services .item ::-webkit-scrollbar-track,
#services .item -webkit-box-shadow inset 0 0 6px rgba(0,
#services .item 0,
#services .item 0.3),
#services .item -webkit-border-radius 10px,
#services .item border-radius 10px,
#services .item ::-webkit-scrollbar-thumb,
#services .item background azul,
#services .item 0.5),
#services .item ::-webkit-scrollbar-thumb:window-inactive {
  background: #f7f6f6;
}
#clients {
  background-image: url("../img/bg-clients.png");
  background-size: cover;
  background-attachment: fixed;
}
#quote {
  height: 400px;
  padding-top: 90px;
}
#video {
  padding: 0;
  height: 560px;
  overflow: hidden;
}
#video #vm-media {
  margin: 0;
  padding: 0;
  width: 105%;
}
#contact-us {
  height: auto;
}
#contact-us .box {
  min-height: 400px;
}
#contact-us .box:first-child {
  background: #f7f6f6;
}
#contact-us .box:last-child {
  background: #e5e5e5;
}
#contact-us .box p {
  margin-bottom: 20px;
}
#contact-us .box h4 {
  color: #0d70b1;
  font-size: 23px;
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: 5px;
}
#contact-us .box .icon {
  color: #a4b6ce;
  font-size: 24px;
  vertical-align: middle;
  width: 27px;
  display: inline-block;
  text-align: center;
}
footer {
  background: #0d70b1;
  color: #fff;
  padding-bottom: 20px;
}
footer a {
  color: #fff;
  padding-top: 5px;
  margin-top: 0;
  font-size: 24px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
}
footer h3 {
  background: url("../img/logo-vmetrix.svg") no-repeat center center;
  background-size: 100px 30px;
  text-indent: -99999px;
  margin-bottom: 0;
}
footer h3:after {
  height: 3px;
  width: 100px;
  background: #fff;
  margin-bottom: 20px;
}
.page #company-description {
  height: auto;
  padding-top: 80px;
  padding-bottom: 40px;
  background: #e5e5e5;
}
.page #company-description h2 {
  font-family: 'Oswald';
  color: #0d70b1;
  margin-top: 0 !important;
}
.page #company-description h2:after {
  content: '';
  display: block;
  height: 3px;
  width: 100px;
  background: #0d70b1;
  margin-bottom: 10px;
  margin-top: 10px;
}
.page #company-description figure {
  position: relative;
  overflow: hidden;
}
.page #company-description figure img {
  border-radius: 3px;
}
.page #company-description figcaption {
  font-size: 13px;
  padding: 10px 20px;
  background: rgba(13,112,177,0.7);
  bottom: 0;
  z-index: 99;
  position: absolute;
  color: #fff;
  width: 100%;
}
.page #company-description .bajada {
  font-size: 20px;
  color: #7f7f7f;
}
.page #company-values {
  background: #0d70b1;
  color: #fff;
  padding: 80px 0;
}
.page #company-values h3 {
  color: #fff;
  margin-top: 0;
}
.page #company-values h3:after {
  background: #fff;
  margin: 20px 0;
}
.page #company-people {
  padding: 60px 0;
}
.page #company-people .item {
  margin-bottom: 20px;
}
.page #company-people .item:nth-child(5) {
  clear: left;
}
.page #company-people .item figure {
  width: auto;
  position: relative;
}
.page #company-people .item figcaption {
  font-size: 13px;
  padding: 5px 20px;
  background: rgba(13,112,177,0.7);
  bottom: 0;
  z-index: 99;
  position: absolute;
  color: #fff;
  width: 100%;
}
@media screen and (max-width: 600px) {
  #hero,
  #company,
  #services,
  #clients,
  #quote,
  #contact-us {
    height: auto;
    padding: 20px;
    border-bottom: 1px solid #efefef;
  }
  #hero figure {
    display: none;
  }
  #hero p {
    width: 100%;
  }
  #video {
    display: none;
  }
  nav {
    background: #fff;
    padding: 0 !important;
  }
  nav .brand {
    opacity: 1;
    margin-top: 10px;
    margin-left: 15px;
    width: 100px;
    height: 30px;
  }
  nav #main-nav {
    padding-left: 0;
    margin-left: 0;
    display: none;
    border-bottom: 1px solid #b7e6f2;
  }
  nav #main-nav li {
    display: block;
    width: 100%;
  }
  nav #main-nav li a {
    color: #0d70b1;
  }
  nav #main-nav li a:hover {
    background: #b7e6f2;
    color: #0d70b1;
  }
  nav #main-nav li a:visited {
    text-decoration: none;
  }
  nav .mobile-menu {
    display: block;
    color: #0d70b1;
    cursor: pointer;
  }
  #services .item {
    height: auto;
  }
  #services .item img {
    width: 100%;
  }
  #services .item .item-detail {
    display: none;
  }
}
